/* You can add global styles to this file, and also import other style files */
ul{
    li{
        display: inline-block;
        list-style: none;
        a{
            padding: 15px 10px;
        }
    }
}