<ul style="padding:0; margin:0;">
    <li *ngFor="let person of people | async" style="list-style: none;">
        <h3>{{person.title}}</h3>        
        <p>{{person.title}}</p>
<hr>
    </li>
</ul>
